<footer class="site-footer px-3 py-4 py-md-5 pr-md-9 pl-md-6">
  <div class="mx-3 mx-md-0">
    <em>Need support?</em> Ask on the <a href="https://devforum.okta.com/">forum</a>.
  </div>
  <div class="footer-links d-flex flex-column flex-md-row flex-justify-between mt-6 mx-3 mx-md-0">
    <div class="social-links flex-order-1 flex-sm-order-none flex-self-center flex-md-self-auto mb-3 mb-md-6">
      <h3 class="text-uppercase hide-sm">Social</h3>
      <ul class="list-style-none">
        <li class="d-inline px-3 px-md-0 d-md-block"><a href="https://github.com/oktadev" title="oktadev on GitHub"><svg role="presentation" aria-hidden="true" class="mr-md-3"><use xlink:href="#svg-social-github" /></svg><span class="hide-sm">GitHub</span></a></li>
        <li class="d-inline px-3 px-md-0 d-md-block"><a href="https://twitter.com/OktaDev" title="OktaDev on Twitter"><svg role="presentation" aria-hidden="true" class="mr-md-3"><use xlink:href="#svg-social-twitter" /></svg><span class="hide-sm">Twitter</span></a></li>
        <li class="d-inline px-3 px-md-0 d-md-block"><a href="https://www.youtube.com/channel/OktaDev" title="OktaDev on YouTube"><svg role="presentation" aria-hidden="true" class="mr-md-3"><use xlink:href="#svg-social-youtube" /></svg><span class="hide-sm">YouTube</span></a></li>
        <li class="d-inline px-3 px-md-0 d-md-block"><a href="https://devforum.okta.com/" title="Okta Developer Forums"><svg role="presentation" aria-hidden="true" class="mr-md-3"><use xlink:href="#svg-social-forum" /></svg><span class="hide-sm">Forum</span></a></li>
        <li class="d-inline px-3 px-md-0 d-md-block"><a href="https://developer.okta.com/feed.xml" title="Okta Developer Blog RSS"><svg role="presentation" aria-hidden="true" class="mr-md-3"><use xlink:href="#svg-social-rss" /></svg><span class="hide-sm">Blog RSS</span></a></li>
      </ul>
    </div>

    <div class="info-links mb-6">
      <h3 class="text-uppercase">More Info</h3>
      <ul class="list-style-none flex-order-1">
        <li class="mt-2 mt-md-3"><a href="https://developer.okta.com/okta-integration-network/">Integrate with Okta</a></li>
        <li class="mt-2 mt-md-3"><a href="https://developer.okta.com/blog/">Developer Blog</a></li>
        <li class="mt-2 mt-md-3"><a href="https://github.com/okta/okta-cli">Contribute to CLI</a></li>
        <li class="mt-2 mt-md-3"><a href="https://developer.okta.com//">Visit our Developer Site</a></li>
      </ul>
    </div>

    <div class="descriptive-links mb-6">
      <ul class="list-style-none flex-order-2">
        <li class="mb-5"><a class="text-uppercase d-block" href="https://www.okta.com/">Okta.com</a> Products, case studies, resources</li>
        <li class="mb-5"><a class="text-uppercase d-block" href="https://support.okta.com/help/s/">Help Center</a> Knowledgebase, roadmaps, and more</li>
        <li class="mb-5"><a class="text-uppercase d-block" href="https://trust.okta.com/">Trust</a> System status, security, compliance</li>
      </ul>
    </div>
  </div>

  <div class="legal text-center text-md-right py-3">
    Copyright &copy; 2021 Okta. All rights reserved.
  </div>
</footer>
<script async src="{{ '/assets/js/script.js' | relative_url }}"></script>
